<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802522991299-gj99hvk6m4cf2at11qua16rcr9s1l5ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802522991299-gj99hvk6m4cf2at11qua16rcr9s1l5ae</string>
	<key>API_KEY</key>
	<string>AIzaSyApxz1N7_7bnwkKlssi16O5nHUVM1C-bEI</string>
	<key>GCM_SENDER_ID</key>
	<string>802522991299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileBunny</string>
	<key>PROJECT_ID</key>
	<string>mobilebunny-a46b2</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilebunny-a46b2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802522991299:ios:a2d0fae4eb75dd2560b076</string>
	<key>DATABASE_URL</key>
	<string>https://mobilebunny-a46b2-default-rtdb.firebaseio.com</string>
</dict>
</plist>